<form action="/nuevo" method="post" class="card bg-dark text-light">
    <div class="card-body p-4">
        <div class="mb-3">
            <label for="fullname">Escribir nombre completo: </label>
            <input type="text" placeholder="Escribir nombre completo" name="fullname" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <div class="mb-3">
            <label for="email">Escribir correo electronico: </label>
            <input type="email" placeholder="Escribir correo electronico" name="email" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <div class="mb-3">
            <label for="phone">Escribir numero telefonico: </label>
            <input type="number" placeholder="Escribir numero Teléfonico" name="phone" class="form-control rounded-0 bg-dark border-0 text-white">
        </div>
        <input class="btn btn-primary" type="submit" value="Enviar">
    </div>
</form>